<p id="notice"><%= notice %></p>

<h1 class="head">Products</h1>

<!--example--
<table class="container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="pname"><%= product.name%></td>
        <td class="stuff"><%= product.description %></td>
        <td class="img"><%= image_tag(product.image_url) %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table><!--op 1 end-->
<%= render @products %>

  <div class="container-fluid">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3 col-sm">
          <h1><%= product.name%></h1>
          <%= image_tag(product.image_url, class: "img-fluid") %> <br>
          <%= product.description %> <br>
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div><!-- /col -->
      <% end %>
    </div>
  </div>

<br>

<%= link_to 'New Product', new_product_path %>
